<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/address_receive.css">
    <link rel="stylesheet" href="./assets/css/footer.css">
    <title>Address receive</title>
</head>
<body>
    <div class="app">
        <header th:replace="~{header.html :: header}"> </header>
        <div class="container">
            <div class="grid">
                <form th:object="${user}" action="/updateInfo" method="Get" class="delivery-information">
                    <div class="delivery-information__heading">
                        Thông tin nhận hàng
                    </div>
                    <div class="delivery-information__info">
                        <div class="delivery-information__info-contact">
                            <span class="delivery-information__info-span ">Liên Hệ</span> 
                            <input style="display:none" name="username" th:value="*{username}" class="delivery-information__info-input"/> 
                            <input style="display:none" name="password" th:value="*{password}" class="delivery-information__info-input"/> 
                            <span>Họ tên</span><br/>
                            <input name="ten" th:value="*{ten}" class="delivery-information__info-input"/> 
                            <span>Số điện thoại</span><br/>
                            <input name="sdt" th:value="*{sdt}" class="delivery-information__info-input"/> 
                            <p style="color:red"  th:if="${#fields.hasErrors('sdt')}" >Vui lòng cung cấp Số điện thoại!</p>         
                            <span>Email</span><br/>
                            <input name="email" th:value="*{email}" class="delivery-information__info-input"/>                        
                        </div>
                        <br/>
                        <div class="delivery-information__info-address">
                            <span  class="delivery-information__info-span ">Địa chỉ</span> 
                            <input name="diachi" th:value="*{diachi}" class="delivery-information__info-input"/>
                            <p style="color:red"  th:if="${#fields.hasErrors('diachi')}" >Vui lòng cung cấp Địa chỉ!</p>    
                        </div>
                        <div onclick="handleSubmitEditInfo()" class="delivery-informatio__edit btn btn--primary">
                            <i style="padding-right: 5px;" class="fa-solid fa-pen-to-square"></i>
                            Chỉnh sửa
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="~{footer.html :: footer}"> </footer>
    </div>
    <div class="contact-fixed">
        <ul type="none">
            <li> 
                <div class="color-mode ">
                    <div class="light-mode mode--active">
                        <i class="fa-solid fa-sun"></i>
                    </div>
                    <div class="dark-mode ">
                        <i class="fa-solid fa-moon"></i>
                    </div>
                </div>
            </li>
            <li> 
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100013168653241"> 
                    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-128.png" alt="">  
                </a> 
            </li>
            <li> 
                <a target="_blank" href="https://zalo.me/0961016881"> 
                    <img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/zalo_sharelogo.png" alt="">  
                </a> 
            </li>
            <li> 
                <a target="_blank" href="https://www.youtube.com/channel/UCn5EIwdMcGC8JKgDP28xqIw"> 
                    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt="">  
                </a> 
            </li>
            <li> 
                <a target="_blank" href="tel:0961016881"> 
                    <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/08_phone-128.png" alt="">  
                </a> 
            </li>
            <li class="pagination-item comeback_navbar">
                <a href="#" class="paginaiton-item__link">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <model th:replace="~{modal.html::modal}"></model>
    <script src="./assets/js/script.js"></script>
    <script>
    function handleSubmitEditInfo(){
		document.querySelector(".delivery-information").submit()
	}
    </script>
</body>
</html>